body{
    margin:0;
    padding:0;
    background: rgb(13, 190, 27);
    font-family: "Poppins",sans-serif;
}

h1 {
    margin: 0;
    font-weight: 400;
}
h2 {
    margin: 0;
    font-weight: 400;
}

/* display: inline-block; */

.box{
    background: rgb(255, 255, 255);
    color: black;
    width: 50rem;
    padding: 3rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
}

.header {
    display: grid;
    grid-template-columns: 40% 60%
}

.headerLeft {
    display: grid;
    justify-items: left;
    align-items: left;
    font-size: 2rem;
}

.firstname {
    font-weight: 200;
    margin:0;
}

.lastname {
    font-weight: 200;
    margin:0;
}
.headerRight {
    font-size: 1rem;
    width: 100px;
    display: grid;
    align-items: right;
    justify-items: right;
}

.headerRight p{
    display: inline
}

.icon {
    color: black;
    font-size: 1.5rem;

}
.gray {
    background: rbg(133,133,133);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.skills {
    color: white;
}

table {
    width: 100%;
    text-align: center;
    margin: 1 rem;
}
td,
th {
    padding: o.4rem;
}